{% extends 'base-site.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
{{ parent() }}

.<div class="container-fluid">
    <h1 class="text-center my-4">Votre commande</h1>
</div>

    <div class="container">

        <div class="row">
            <div class="col-6">

            <h3 class="text-center"> Récapitulatif </h3>
                {% if items |length > 0 %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Prix unitaire</th>
                                    <th>Quantité</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.product.productName }}</td>
                                <td>{{ item.product.priceHt * item.product.tva }} €</td>
                                <td> {{ item.quantity }}</td>
                                <td>{{ (item.product.priceHt * item.product.tva) * item.quantity}} €</td>
                                <td>
                                    <a href="{{ path('remove_cart',{'id':item.product.id}) }}" class="bn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="text-right"> Total: </td>
                                    <td><strong>{{ total }}</strong> €</td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                            {{ form_start(orderForm) }}
                                {{ form_row(orderForm.payment, { 'label': 'Moyen de paiement' }) }}
                                <button class="btn btn-secondary">{{ button_label|default('Valider') }}</button>
                            {{ form_end(orderForm,{'render_rest':false}) }}
            
                    {% else %}
                <p>Surprise, c'est vide !</p>
                {% endif %}
            </div>
            <div class="col-6">
                <h4 class="text-center">Adresse de livraison :</h4>
                <div class="border p-3 m-5">
                    <p class="border-bottom"> Nom : <strong>{{ address.clients[0].clientName }}</strong> </p>
                    <p class="border-bottom"> Prénom : <strong>{{ address.clients[0].clientFirstName }}</strong> </p>
                    <p> {{ address.number }} {{ address.line1 }}</p>
                    {% if address.line2 %}
                    <p> {{ address.line2 }} </p>
                    {% endif %}
                    {% if address.line3 %}
                    <p> {{ address.line3 }} </p>
                    {% endif %}
                    <p>{{ address.code }} - {{ address.location }}</p>
                </div>
            </div>
        </div>


    </div>   {# .container #}



    {# <a href="{{ path('commande_index') }}">back to list</a> #}
    
{% endblock %}