<link rel="stylesheet" href="{{ asset('styles/square-layout.css') }}">


<div class="homepage_wrapper_square-layout">
    <div class="square square-no">
        <a href="{{ path('category_show', {id: '8'}) }}">
            <div class="text-block">
                <h4>Nos meilleurs amis</h4>
                <p>Craquez pour des croquettes</p>
            </div>
        </a>
        {# <button class="btn btn-secondary btn-sm square_button">Découvrir</button> #}
    </div>
    <div class="square square-ne">
            <a href="{{ path('category_show', {id: '10'}) }}">
                <div class="text-block">
                    <h4>Ils volents</h4>
                    <p>Venez voir ce qu'on a</p>
                </div>
            </a>
        {# <button class="btn btn-secondary btn-sm square_button">Découvrir</button> #}
    </div>
    <div class="square square-se">
        <a href="{{ path('category_show', {id: '9'}) }}">
            <div class="text-block">
                <h4>Ca grignotte</h4>
            <p>Découvrez nos produits</p>
            </div>
        </a>
        {# <button class="btn btn-secondary btn-sm square_button">Découvrir</button> #}
    </div>
    <div class="square square-so">
        <a href="{{ path('category_show', {id: '11'}) }}">
            <div class="text-block">
                <h4>Dans les étoiles</h4>
                <p>Voir les voyages</p>
            </div>
        </a>
        {# <button class="btn btn-secondary btn-sm square_button">Découvrir</button> #}
    </div>
</div>
